<div class="card-product-show-shop">
    <h1>
        <%= @flower_shop.name %>
    </h1>
    <h4>
      <%= @flower_shop.address %>
    </h4>
    <div class="d-flex">
        <% @flower_shop.flowers.each do |flower| %>
          <%= link_to flower_path(flower) do %>
            <div class="card-product-infos">
            <% if flower.picture.attached? %>
              <div class="card-product" id="img" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%=  cl_image_path flower.picture.key %>');">
                <h5>
                  <%= flower.name %>
                </h5>
                <p>
                  <%= flower.species %>
                </p>
              </div>
            <% else %>
              <div class="card-product" id="img" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://source.unsplash.com/featured/?flower, <%= flower.name %>');">
                <h5>
                  <%= flower.name %>
                </h5>
                <p>
                  <%= flower.species %>
                </p>
              </div>
            <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
</div>
    <%= link_to 'Back', flowers_path %>
