<!-- bookings -->
<div class="row justify-content-center">
    <div class="card-product-show">
        <div class="card-product-infos">
            <% @bookings.each do |booking| %>
            <div class="card-product-infos">
                <ul>
                    <h5>
                        <li>
                            Pick up date: <%= booking.pick_up_date.strftime("%A %b %d, %Y") %> |
                            <%= booking.flower.name %> |
                            <%= booking.user.email %> |
                            <% if booking.booking_status == "pending" && current_user.flower_shop == booking.flower.flower_shop %>
                <%= link_to "Approve", booking_approve_path(booking), method: :patch, class: "change to your class" %>
                <%= link_to "Decline", booking_decline_path(booking), method: :patch, class: "change to your class" %>
                <% else %>
                <%= booking.booking_status %>
                <% end %>
                        </li>
                    </h5>
                </ul>
            </div>
            <% end %>
        </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <%= link_to 'back to flower shop', flowers_path, class: "btn btn-outline-light form-button" %>
</div>
