<%= render 'shared/banner'%>





<div class="main-container">
    <!-- Cards -->
    <div class="cards">
      <% @flowers.each do |flower| %>
            <%= link_to flower_path(flower) do %>
            <div class="card-product-infos">
                <% if flower.picture.attached? %>
                <div class="card-product" id="img" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%=  cl_image_path flower.picture.key %>');">
                    <% else %>
                    <div class="card-product" id="img" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://source.unsplash.com/featured/?flower, <%= flower.name %>');">
                        <% end %>
                        <h5>
                            <%= flower.name %>
                        </h5>
                        <p>
                            <%= flower.species %>
                        </p>
                        <br>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>




<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>

















