<%= render 'shared/banner'%>
<div class="main-container">
    <!-- Cards -->

    <div class="cards">
      <% @flower_shops.each do |flower_shop| %>
            <%= link_to flower_shop_path(flower_shop) do %>
            <div class="card-product-infos">
                <% if flower.picture.attached? %>
                <div class="card-product" id="img" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%=  cl_image_path flower.picture.key %>');">
                    <% else %>
                    <div class="card-product" id="img" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://source.unsplash.com/featured/?flower, <%= flower.name %>');">
                        <% end %>
                        <h5>
                            <%= @flower_shop.name %>
                        </h5>
                        <p>
                            <%= @flower_shop.address %>
                        </p>
                        <br>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>

<div
  id="map"
  style="
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>

