<div class="d-flex justify-content-center align-items-center">
  <div class="container">
<div class="card-product-show">
    <% if @flower.picture.attached? %>
    <%= cl_image_tag(@flower.picture.key, width: 400, height: 300, crop: :fill) %>
    <% else %>
    <img src="'https://source.unsplash.com/featured/?flower, <%= @flower.name %>'" alt="Flower Picture">
    <% end %>
    <div class="card-product-infos">
        <h2 class="showtextborders">
            <%= @flower.name %>
        </h2>
        <h6>
            <%= @flower.species %>
        </h6>
        <h6>
            <%= @flower.total_price %>
        </h6>

        <p>
          A Cactus (plural cacti, cactuses, or less commonly, cactus) is a member of the plant family Cactaceae, a family comprising about 127 genera with some 1750 known species of the order Caryophyllales. The word "cactus" derives, through Latin, from the Ancient Greek κάκτος, kaktos, a name originally used by Theophrastus for a spiny plant whose identity is now not certain. Cacti occur in a wide range of shapes and sizes. Most cacti live in habitats subject to at least some drought. Many live in extremely dry environments, even being found in the Atacama Desert, one of the driest places on earth.
        </p>
    </div>
    <div class="show-buttons">
                <%= link_to 'Back', flowers_path, class: "btn btn-outline-light buttons" %>
                  <% if @flower.flower_shop == current_user.flower_shop %>
                <%= link_to 'Edit', edit_flower_path(@flower.id), class: "btn btn-outline-light buttons" %>
                <%= link_to 'Delete', flower_path(@flower), method: :delete, class: "btn btn-outline-light buttons" %>
                  <% else %>
                <%= link_to 'Book this flower', new_flower_booking_path(@flower),  class: "btn btn-outline-light buttons" %>
                  <% end %>
                <%= link_to 'Visit this shop', flower_shop_path(@flower.flower_shop), class: "btn btn-outline-light buttons" %>
    </div>
</div>
</div>
</div>
