<div class="border-top">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Flower#show</h1>
                  <p>
                    <%= @flower.name %>
                    <%= @flower.species %>
                    <% if @flower.picture.attached? %>
                    <%= cl_image_tag(@flower.picture.key, width: 400, height: 300, crop: :fill) %>
                    <% end %>
                  </p>
                <%= link_to 'Back', flowers_path  %>
                <%= link_to 'Edit', edit_flower_path(@flower.id) %>
                <%= link_to 'Delete', flower_path(@flower), method: :delete %>
                <%= link_to 'Book this flower', new_flower_booking_path(@flower) %>
        </div>
    </div>
</div>
