<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to flowers_path, class: "navbar-brand home-button" do %>
    <%= image_tag "https://cdn.dribbble.com/users/2442548/screenshots/5142105/illustrations_cacti_round_2x.png" %>
    <% end %>
    <h4>🅵🅻🅾🆆🅴🆁 🅵🆁🅸🅴🅽🅳</h4>
    <br>
    <br>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <form action="/flowers" method="GET">
    <input class="btn btn-outline-light nav-btn" type="text" name="query" id="query" placeholder="Search flower…">
    <input class="btn btn-outline-light nav-btn" type="submit" name="commit" value="Search">
    </form>


      <% if user_signed_in? %>
        <li class="nav-item options">
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
           <% if current_user.flower_shop %>
            <%= link_to "your flower shop", flower_shop_path(current_user), class: "dropdown-item" %>
          <% else %>
            <%= link_to "+ add shop", new_flower_shop_path, class: "btn btn-outline-light nav-btn" %>
          <% end %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

  </div>
</div>
